@import '~antd/lib/style/themes/default.less';

.header {
  :global {
    .ant-page-header-title-view-extra {
      top: 11px;
    }
  }
}

.container {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin: -24px -50vw;
  background: white;
  transition: 0.3s;

  *::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }

  *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
  }
}

.board {
  display: flex;
  height: ~'calc(100vh - @{layout-header-height} - 52px)' !important;
  overflow-x: visible;
  overflow-y: hidden;
  transition: 0.3s;
}

//@media screen and (max-width: @screen-md-max) {
//  .board {
//    height: ~'calc(100vh - @{layout-header-height} - 63px)' !important;
//  }
//}

.newCardListToogle {
  width: 300px;
  height: 100%;
  padding: 10px;

  .plusIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    opacity: 0.6;

    i {
      font-size: 24px;
    }
  }
}
