@import '~antd/lib/style/themes/default.less';

.cardWrapper {
  margin-bottom: 8px;

  &:focus {
    outline: @outline-width solid @outline-color;
    outline-offset: 2px;
    box-shadow: none;

    .card {
      box-shadow: none;
      &.dragging {
        filter: drop-shadow(0 0 10px gray);
      }
    }
  }
}

.card {
  user-select: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px @shadow-color;
  border-top: 2px solid transparent;

  :global {
    .ant-card-meta-title {
      margin-bottom: 4px;
      & > a {
        color: @heading-color;
        display: inline-block;
        max-width: 100%;
      }
    }
    .ant-card-meta-description {
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
  }

  &.dragging {
    filter: drop-shadow(8px 8px 10px gray);
  }

  &:hover {
    :global {
      .ant-card-meta-title > a {
        color: @primary-color;
      }
    }
  }
}

.cardMetaInfo {
  display: flex;
  margin-top: 12px;
  line-height: 20px;
  min-height: 20px;
  flex-wrap: wrap;

  .left {
    display: flex;
    flex: 1;
  }
}

.first {
  margin-right: 5px;
}

.avatarList ul {
  padding: 0;
  height: 20px;
}

.due {
  font-size: 12px;
  font-weight: bold;
  background: @red-4;
  color: white;
  padding: 0 8px;
  border-radius: 4px;
}

.higher {
  border-color: @red-5;
}

.high {
  border-color: @orange-5;
}

.normal {
  border-color: hsv(0, 0, 65%);
}

.low {
  border-color: @blue-5;
}

.lower {
  border-color: @green-5;
}
