@import '~antd/lib/style/themes/default.less';

.column {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: background-color 0.1s ease;
}

.title {
  position: relative;
  flex-grow: 1;
  margin: 0;
  user-select: none;
  transition: background-color ease 0.2s;
  font-weight: 600;
  &:focus {
    outline: 2px solid purple;
    outline-offset: 2px;
  }
}

.dropzone {
  /* stop the list collapsing when empty */
  min-height: 250px;

  /* not relying on the items for a margin-bottom
  as it will collapse when the list is empty */
  margin-bottom: 8px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  opacity: inherit;
  padding: 8px;
  border: 8px;
  padding-bottom: 0;
  transition: background-color 0.1s ease, opacity 0.1s ease;
  user-select: none;
  width: 300px;

  &.dragging {
    //background-color: rgba(240, 244, 247, 0.4);
  }

  &.disabled {
    opacity: 0.5;
  }
}

.header,
.listWrapper {
  //background-color: darken(@layout-body-background, 3%);
}

.carditemSubheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  height: 30px;

  .due {
    font-size: 12px;
    margin-right: 5px;
    color: white;
    background-color: @red-1;
    padding: 0 5px;
    line-height: 16px;
    border-radius: 10px;
  }

  .card-status {
    display: flex;
  }
}

.cardWrapper {
  margin-bottom: 8px;
}

.card {
  user-select: none;

  :global {
    .ant-card-meta-title {
      margin-bottom: 4px;
      & > a {
        color: @heading-color;
        display: inline-block;
        max-width: 100%;
      }
    }
    .ant-card-meta-description {
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
  }

  &:focus {
    outline: 2px solid @purple-1;
    outline-offset: 2px;
    box-shadow: none;
  }

  &.dragging {
    filter: drop-shadow(8px 8px 10px gray);
  }

  &:hover {
    :global {
      .ant-card-meta-title > a {
        color: @primary-color;
      }
    }
  }
}

.cardMetaInfo {
  display: flex;
  margin: 4px 0;
  line-height: 20px;
  min-height: 20px;
  flex-wrap: wrap;

  .left {
    display: flex;
    flex: 1;

    & > .priority {
      margin-right: 8px;
    }
  }
}

.avatarList ul {
  padding: 0;
}
