@import '~antd/lib/style/themes/default.less';

.column {
  display: flex;
  flex-direction: column;
  margin: 8px;
  background: #fafafa;
  border: @border-width-base @border-style-base @border-color-split;
  border-radius: 4px;

  &.disabled {
    opacity: 0.5;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: background-color 0.1s ease;
  border-bottom: @border-width-base @border-style-base @border-color-split;

  .add {
    padding: 0 4px !important;
  }
}

.title {
  position: relative;
  flex-grow: 1;
  margin: 0;
  user-select: none;
  transition: background-color ease 0.2s;
  font-weight: 600;
  &:focus {
    outline: 2px solid purple;
    outline-offset: 2px;
  }
}

.dropzone {
  /* stop the list collapsing when empty */
  min-height: 250px;
  height: 100%;

  /* not relying on the items for a margin-bottom
  as it will collapse when the list is empty */
  margin-bottom: 8px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  opacity: inherit;
  padding: 8px;
  border: 8px;
  padding-bottom: 0;
  transition: background-color 0.1s ease, opacity 0.1s ease;
  user-select: none;
  width: 300px;
  height: 100%;

  &.dragging {
    background-color: rgba(240, 244, 247, 0.4);
  }
}

.scroll {
  display: flex;
  overflow: hidden;
  height: 100% !important;
}
