@import '~antd/lib/style/themes/default.less';

.container {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin: -24px -50vw;
  background: white;
  transition: 0.3s;
}

.board {
  display: flex;
  height: 100%;
  overflow-x: visible;
  overflow-y: hidden;
  transition: 0.3s;
}

.scroll {
  display: flex;
  height: ~'calc(100vh - @{layout-header-height} - 100px)' !important;
  overflow: hidden;
}

@media screen and (max-width: @screen-md-max) {
  .scroll {
    height: ~'calc(100vh - @{layout-header-height} - 63px)' !important;
  }
}
