@import '~antd/lib/style/themes/default.less';

.action {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  transition: all 0.3s;

  :global {
    .ant-rate-star {
      margin-right: 0;
    }
  }
}
