@import '~antd/lib/style/themes/default.less';

.container {
  margin: -24px -50vw;
  width: 100vw;
  left: 50%;
  right: 50%;
  position: relative;
  transition: 0.3s;
  background: white;
}

.board {
  display: flex;
  overflow: auto;
  transition: 0.3s;

  height: ~'calc(100vh - @{layout-header-height} - 65px)';
}

@media screen and (max-width: @screen-md-max) {
  .board {
    height: ~'calc(100vh - @{layout-header-height} - 113px)';
  }
}
