@import '~antd/lib/style/themes/default.less';

.descriptionPopover {
  :global {
    .ant-popover-inner-content {
      max-height: 290px;
      overflow: auto;
      max-width: 256px;
    }
  }
}

.action {
  cursor: pointer;
  padding: 0 12px;
  display: inline-block;
  transition: all 0.3s;

  :global {
    .ant-rate-star {
      margin-right: 0;
    }
  }
}

.boardIcon {
  font-size: @font-size-base !important;
  transform: none !important;
}

.optionsBar {
  display: flex;

  .left {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    .title {
      flex: 1;
      display: flex;
    }

    .settings {
      padding: 0 8px;
    }
  }

  .right {
    flex: 0 0 auto;
    display: flex;

    padding-left: 8px;
    margin-left: 8px;
    border-left: 1px solid @border-color-base;

    :global {
      .ant-btn:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
