@import '~antd/lib/style/themes/default.less';

.descriptionIcon {
  cursor: pointer;
  color: @text-color-secondary;
  margin-left: 12px;
  font-style: normal;
}

.descriptionPopover {
  :global {
    .ant-popover-inner-content {
      max-height: 290px;
      overflow: auto;
      max-width: 256px;
    }
  }
}

.action {
  cursor: pointer;
  padding: 0 12px;
  display: inline-block;
  transition: all 0.3s;

  :global {
    .ant-rate-star {
      margin-right: 0;
    }
  }
}

.boardIcon {
  font-size: @font-size-base !important;
  transform: none !important;
}
