@import '~antd/lib/style/themes/default.less';

.descriptionIcon {
  cursor: pointer;
  color: @text-color-secondary;
  margin-left: 12px;
  font-style: normal;
}

.descriptionPopover {
  :global {
    .ant-popover-inner-content {
      max-height: 290px;
      overflow: auto;
      max-width: 256px;
    }
  }
}

.pageHeaderContent {
  display: flex;

  .boardSelector {
    margin-left: 8px;
  }

  .boardIcon {
    font-size: @font-size-base !important;
    transform: none !important;
  }
}

.content {
  margin: 24px -24px 0;
  background: white;
}

@media screen and (max-width: @screen-sm) {
  .content {
    margin: 24px 0 0;
  }
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  transition: 0.3s;
  &.wide {
    max-width: 1200px;
    margin: 0 auto;
  }
}
