@import '~antd/lib/style/themes/default.less';

.modal {
  width: 768px;
  animation: 0s !important;
  transition: none;
}

.cardTitle {
  padding-right: 32px;
  margin-bottom: 12px;
  font-size: @font-size-lg;
  line-height: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
